body {
  background-color: black;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: black !important;
}
.navbar .navbar-brand img {
  max-width: 150px;
  height: auto;
}
.navbar .nav-link {
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: #f39c12 !important;
}
.navbar .navbar-toggler-icon {
  background-color: white;
}

.toggle-text {
  display: none;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #f39c12;
  transition: transform 0.3s;
}

.toggle-btn:focus {
  outline: none;
}

.open .toggle-text {
  display: block;
  max-height: 1000px; 
}

.open .toggle-btn {
  transform: rotate(180deg); 
}

@media (max-width: 768px) {
  .toggle-text {
    padding: 20px;
    font-size: 14px;
  }
}
.faq-section {
  background-color: #000; 
  padding: 50px 0;
  color: white;
  text-align: center;
}

.faq-section .container {
  max-width: 600px; 
  margin: 0 auto;
}

.faq-section .card {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; 
}

.faq-section .card-header {
  background-color: #fff;
  color: #000; 
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border-radius: 10px 10px 0 0;
}

.faq-section .card-body {
  padding: 15px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  border-radius: 0 0 10px 10px;
}

.faq-section .btn-link {
  color: #007bff;
  text-decoration: none;
  font-size: 1.1rem;
}

.faq-section .btn-link:hover {
  text-decoration: underline;
}

.faq-section .card-body p {
  margin: 0;
}


.carousel-inner {
  position: relative;
  width: 100%;
  height: 500px;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards {
  margin-top: 100px;
}

.card-img-top {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.card-body {
  text-align: center;
  color: #333;
}

.text-section {
  margin-top: 50px;
  text-align: center;
}

.image-text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.image-text-section .text {
  max-width: 600px;
  margin-right: 30px;
}
.image-text-section .image {
  max-width: 400px;
}

.cards h2 {
  font-size: x-large;
  font-weight: bold;
}

.cards h5 {
  font-weight: bold;
}

.tekst_slike1,
.tekst_slike2 {
  margin: 0 auto;
  max-width: 1200px;
}

.tekst_slike1 h3, .tekst_slike2 h3 {
  font-family: cursive;
}

#tekst_slike1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
#tekst_slike1 .text {
  margin-right: 30px;
  max-width: 600px;
}
#tekst_slike1 .image {
  max-width: 400px;
}

#tekst_slike2 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
#tekst_slike2 .text {
  margin-left: 30px;
  max-width: 600px;
}
#tekst_slike2 .image {
  max-width: 400px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: start;
  font-size: small;
}

@media (max-width: 768px) {
  .tekst_slike1 .container,
  .tekst_slike2 .container {
    flex-direction: column;
    text-align: center;
  }
  .tekst_slike1 .container .text, .tekst_slike1 .container .image,
  .tekst_slike2 .container .text,
  .tekst_slike2 .container .image {
    flex: 1;
    max-width: 600px;
  }
  .tekst_slike1 .container .text,
  .tekst_slike2 .container .text {
    margin: 20px 20px;
  }
}