body {
    background-color: black; 
}

.navbar {
  background-color: black !important;
}
.navbar .navbar-brand img {
  max-width: 150px;
  height: auto;
}
.navbar .nav-link {
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: #f39c12 !important;
}
.navbar .navbar-toggler-icon {
  background-color: white;
}

.gallery-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(255, 136, 0, 0.845); 
}

.modal-body img {
    border-radius: 10px;
}
