body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-image: url("/img/hiring.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    text-align: center;
    font-family: cursive;
    padding: 30px 0;
    min-height: 700px; 
}


.form-container {
    background-color: rgba(224, 211, 191, 0.837);
    border-radius: 8px;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border-radius: 5px;
   
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

button:hover {
    background-color: #0056b3;
}

.geo-API {
    background-color: #fff; 
    padding: 20px 30px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    width: 350px; 
    text-align: center; 
    margin: 50px auto; 
}

.geo-API h2 {
    color: #333; 
    font-size: 24px; 
    margin-bottom: 20px; 
}

.geo-API button {
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;
    width: 100%; 
    margin-bottom: 20px; 
}

.geo-API button:hover {
    background-color: #218838; 
}

.geo-API #location {
    font-size: 16px; 
    color: #333; 
    margin-top: 10px; 
    font-weight: bold; 
}

.geo-API #location.error {
    color: red; 
}

