* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
}



:root {
    --el-color: white;
}

h1, h2, h3, h4, a, p {
    color: var(--el-color);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

h3 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

i {
    color: orange;
}

li {
    color: #fff;
}

.m-t {
    margin-top: 150px;
}

.m-b {
    margin-bottom: 100px;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: relative;
}

nav img {
    height: 70px;
    margin-top: 16px;
}

nav .left-links,
nav .right-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav .left-links {
    margin-right: auto;
}

nav .right-links {
    margin-left: auto;
}

nav ul li {
    display: inline-block;
    padding: 5px 15px;
    color: white;
}

nav ul li a {
    color: white;
    transition: 0.5s all;
}

nav ul li a:hover {
    color: orange;
}

.hamburger {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%); 
}

.hamburger span {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex; 
    }

    nav .left-links,
    nav .right-links {
        display: none; 
    }

    .sidebar.active {
        display: block; 
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: black;
    transition: left 0.3s ease-in-out;
    z-index: 9999;
}

.sidebar.active {
    left: 0;
}

.sidebar-links {
    list-style: none;
    padding: 20px;
}

.sidebar-links li {
    padding: 15px;
    color: white;
}

.sidebar-links li a {
    color: white;
    text-decoration: none;
}

.sidebar-links li a:hover {
    color: orange;
}

.showcase {
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("../img/index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.showcase-content h1 {
    color: white;
    letter-spacing: 2px;
    font-family: cursive;
}

.showcase-content p {
    margin: 50px 0;
    color: #fff;
}

.showcase-content {
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(30vh);
}

.showcase-content .btn {
    color: white;
    border: 2px solid white;
    padding: 10px 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s all;
}

.showcase-content .btn:hover {
    background-color: red;
    border: 0;
}

.o_nama{
    margin-top: 5%;
}

.o_nama .o_nama-image {
    width: 45%;
    float: left;
}

.o_nama-wrapper img {
    max-width: 100%;
    height: auto;
}

.o_nama .o_nama-content {
    width: 45%;
    float: right;
    text-align: left;
    margin-top: 0px;
}

.o_nama h2 {
    font-family: cursive;
    font-style: italic;
    font-size: x-large;
    text-align: center;
}

.o_nama h3 {
    font-size: x-large;
    text-align: center;
    color: orange;
}

.o_nama p {
    margin-top: 20px;
}

.o_nama ul {
    margin-top: 20px;
    list-style: none;
}

.o_nama ul li {
    margin: 10px 0;
}

.o_nama .fa-li {
    margin-left: -20px;
}

.meni {
    padding-top: 400px; 
}

.menu-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
}

.menu-item {
    background-color: #333;
    color: white;
    width: 30%; 
    height: 70%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.menu-item:hover {
    transform: scale(1.05); 
}

.meni h2{
    padding-bottom: 50px;
    font-size: 2.5rem;
    font-family: cursive;
}

.menu-item img {
    width: 100%; 
    height: 200px;  
    object-fit: cover; 
    border-radius: 10px; 
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.menu-item p {
    font-size: 1rem;
    margin-top: 10px;
}

.menu-item span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    display: block;
}

@media screen and (max-width: 768px) {
    .menu-item {
        width: 100%; 
    }
}

.menu-container {
    background-color: rgba(231, 214, 200, 0.805);
    padding: 30px;
    margin: 5% auto;
    width: 80%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menu-container .separator{
    padding-top: 25px;
}

.menu-container h1{
    text-align: center;
    font-size: x-large;
    font-family: cursive;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    font-size: 18px;
}

th {
    background-color: #ffffff;
    color: #333;
}

td.separator {
    color: #888;
}

td:last-child {
    text-align: right;
    font-weight: bold;
    color: #333;
}

.dostava {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/img/dostava.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    color: white;
    text-align: center;
}

.dostava-title {
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.dostava-btn {
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dostava-btn:hover {
    background-color: #f39c12;
}

footer {
    background-color: black;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social a {
    color: white;
    font-size: 2rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #f39c12;
}

.footer-info p {
    font-size: 1rem;
    margin: 5px 0;
}

.footer-info a {
    color: #f39c12;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .menu-item {
        width: 100%; 
    }

    .showcase-content {
        width: 80%;
        margin: auto;
        text-align: center;
        transform: translateY(30vh);
    }

    .o_nama .o_nama-image,
    .o_nama .o_nama-content {
        width: 100%;
        float: none;
        text-align: center;
    }

    .o_nama h2,
    .o_nama h3 {
        font-size: 1.5rem; 
    }

    .o_nama ul {
        margin-top: 20px;
        list-style: none;
    }

    .menu-container {
        width: 90%; 
        padding: 20px; 
        margin: 20px auto; 
    }

    .menu-container table {
        font-size: 0.8rem; 
    }

    .menu-container th, 
    .menu-container td {
        padding: 8px;
    }

    .menu-container h1 {
        font-size: 1.5rem; 
    }

    footer {
        padding: 15px 0;
    }

    .footer-container {
        padding: 0 20px;
    }

    .footer-content {
        display: block;
    }
}
